<% include partials/header %>
    <header>
      <h1>Welcome to my personal home page</h1>
    </header>
    <div id="container">
      <p>بسم الله الرحمن الرحيم... الحمد لله رب العالمين. الرحمن الرحيم. مالك يوم الدين. اياك نعبد واياك نستعين. اهدنا السراط المستقيم، سراط الذين انعمت عليهم غير المغضوب عليهم ولا الظالين</p>

    </div>

<% include partials/footer %>
