<% include partials/header %>

    <header>
      <h1>App main page</h1>
    </header>
    <p>This home page is being served from the <span>views</span> folder using
      <span>EJS</span> template engine, which was installed using utilizing a npm
    install in the command line</p>
    <h3>Add to list:</h3>
    <hr>
    <input id='newLi' type="text">
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
      <li>Item 4</li>
    </ul>

    <% include partials/footer %>
